Data Source: https://www.kaggle.com/jpmiller/conflict-in-ukraine?select=conflict_data_ukr.csv

In [ ]:
import pandas as pd

news = pd.read_csv('conflict_data_ukr.csv')
news = news.drop(index = 0)
news.head()

,id,relid,year,start_year,end_year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
1,147997.0,UKR-2014-1-14085-0,2014,2014,2014,1.0,Clear,1.0,13219.0,13219.0,...,2014-01-22 00:00:00.000,0.0,5.0,0.0,0.0,5,5.0,5.0,369.0,NaN
2,149221.0,UKR-2014-1-14085-1,2014,2014,2014,1.0,Clear,1.0,13219.0,13219.0,...,2014-01-27 00:00:00.000,0.0,0.0,0.0,1.0,1,1.0,1.0,369.0,NaN
3,149248.0,UKR-2014-1-14085-3,2014,2014,2014,1.0,Clear,1.0,13219.0,13219.0,...,2014-02-18 00:00:00.000,10.0,4.0,0.0,12.0,26,26.0,26.0,369.0,NaN
4,149251.0,UKR-2014-1-14085-6,2014,2014,2014,1.0,Clear,1.0,13219.0,13219.0,...,2014-02-21 00:00:00.000,0.0,0.0,0.0,6.0,6,6.0,6.0,369.0,NaN
5,149249.0,UKR-2014-1-14085-4,2014,2014,2014,1.0,Clear,1.0,13219.0,13219.0,...,2014-02-20 00:00:00.000,0.0,0.0,0.0,2.0,2,2.0,2.0,369.0,NaN

In [ ]:
news.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1167 entries, 1 to 1167
Data columns (total 52 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1167 non-null   float64
 1   relid              1167 non-null   object
 2   year               1167 non-null   object
 3   start_year         1167 non-null   object
 4   end_year           1167 non-null   object
 5   active_year        1167 non-null   float64
 6   code_status        1167 non-null   object
 7   type_of_violence   1167 non-null   float64
 8   conflict_dset_id   1167 non-null   float64
 9   conflict_new_id    1167 non-null   float64
 10  conflict_name      1167 non-null   object
 11  dyad_dset_id       1167 non-null   float64
 12  dyad_new_id        1167 non-null   float64
 13  dyad_name          1167 non-null   object
 14  side_a_dset_id     1167 non-null   float64
 15  side_a_new_id      1167 non-null   float64
 16  side_a             1167 non-null   object
 17  side_b_dset_id     1167 non-null   float64
 18  side_b_new_id      1167 non-null   float64
 19  side_b             1167 non-null   object
 20  number_of_sources  1167 non-null   float64
 21  source_article     1167 non-null   object
 22  source_office      1167 non-null   object
 23  source_date        1167 non-null   object
 24  source_headline    1167 non-null   object
 25  source_original    1137 non-null   object
 26  where_prec         1167 non-null   float64
 27  where_coordinates  1167 non-null   object
 28  where_description  887 non-null    object
 29  adm_1              1002 non-null   object
 30  adm_2              652 non-null    object
 31  latitude           1167 non-null   object
 32  iso3               1167 non-null   object
 33  longitude          1167 non-null   object
 34  geom_wkt           1167 non-null   object
 35  priogrid_gid       1167 non-null   float64
 36  country            1167 non-null   object
 37  country_id         1167 non-null   float64
 38  region             1167 non-null   object
 39  event_clarity      1167 non-null   float64
 40  date_prec          1167 non-null   float64
 41  date_start         1167 non-null   object
 42  date_end           1167 non-null   object
 43  deaths_a           1167 non-null   float64
 44  deaths_b           1167 non-null   float64
 45  deaths_civilians   1167 non-null   float64
 46  deaths_unknown     1167 non-null   float64
 47  best               1167 non-null   object
 48  high               1167 non-null   float64
 49  low                1167 non-null   float64
 50  gwnoa              1166 non-null   float64
 51  gwnob              0 non-null      float64
dtypes: float64(25), object(27)
memory usage: 483.2+ KB

In [ ]:
news.describe()

,id,active_year,type_of_violence,conflict_dset_id,conflict_new_id,dyad_dset_id,dyad_new_id,side_a_dset_id,side_a_new_id,side_b_dset_id,...,event_clarity,date_prec,deaths_a,deaths_b,deaths_civilians,deaths_unknown,high,low,gwnoa,gwnob
count,1167.000000,1167.0,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,...,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1167.000000,1166.0,0.0
mean,224981.281919,1.0,1.000857,13298.511568,13297.763496,14754.561268,14754.561268,65.949443,65.949443,6400.456727,...,1.113111,1.722365,1.556127,1.113111,1.268209,1.953728,6.622108,5.352185,369.0,NaN
std,50346.824213,0.0,0.029273,31.684248,20.912230,445.122645,445.122645,169.079812,169.079812,400.220286,...,0.316864,0.938982,11.200040,7.682099,12.740956,20.741642,31.056778,26.094305,0.0,NaN
min,147997.000000,1.0,1.000000,13219.000000,13219.000000,14085.000000,14085.000000,61.000000,61.000000,5817.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,369.0,NaN
25%,198845.000000,1.0,1.000000,13306.000000,13306.000000,14210.000000,14210.000000,61.000000,61.000000,5914.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,369.0,NaN
50%,232420.000000,1.0,1.000000,13306.000000,13306.000000,15100.000000,15100.000000,61.000000,61.000000,6711.000000,...,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,369.0,NaN
75%,258108.000000,1.0,1.000000,13306.000000,13306.000000,15100.000000,15100.000000,61.000000,61.000000,6711.000000,...,1.000000,2.000000,1.000000,1.000000,1.000000,0.000000,3.000000,3.000000,369.0,NaN
max,325478.000000,1.0,2.000000,14113.000000,13306.000000,15101.000000,15101.000000,5837.000000,5837.000000,6712.000000,...,2.000000,5.000000,366.000000,200.000000,306.000000,431.000000,566.000000,431.000000,369.0,NaN

Warning: Total number of columns (25) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
news['source_article']

1       "Agence France Presse,2014-01-22,Police disper...
2       "Reuters News,2014-01-27,Dead man found hangin...
3       "Reuters News,2014-02-18,UKRAINE PARLIAMENTARY...
4       "Reuters News,2014-02-22,WRAPUP 9-Ukraine parl...
5       "Agence France Presse,2014-02-20,Ukraine death...
                              ...
1163    "Interfax: Ukrainian General Newswire,2019-10-...
1164    "World Service Wire,2019-11-01,Kiev troops she...
1165    "World Service Wire,2019-11-04,LPR militiaman ...
1166    "Interfax: Ukrainian General Newswire,2019-11-...
1167    "Interfax: Ukrainian General Newswire,2019-12-...
Name: source_article, Length: 1167, dtype: object

In [ ]:
data = pd.DataFrame()

for n in news['source_article']:
    n = n.replace("\"",'')
    n = n.split(',')
    dic = {
        'source': n[0],
        'date': n[1],
        'headline' : n[2],
    }
    data = data.append(dic,ignore_index=True)
data

,source,date,headline
0,Agence France Presse,2014-01-22,Police disperse Kiev protest
1,Reuters News,2014-01-27,Dead man found hanging on Kiev's Independence ...
2,Reuters News,2014-02-18,UKRAINE PARLIAMENTARY DEPUTY SAYS ON FACEBOOK ...
3,Reuters News,2014-02-22,WRAPUP 9-Ukraine parliament removes Yanukovich
4,Agence France Presse,2014-02-20,Ukraine death toll rises to 28: ministry
...,...,...,...
1162,Interfax: Ukrainian General Newswire,2019-10-04,Ukrainian soldier killed amid 41 enemy attacks...
1163,World Service Wire,2019-11-01,Kiev troops shell LPR 12 times in past week
1164,World Service Wire,2019-11-04,LPR militiaman killed in shelling by Ukrainian...
1165,Interfax: Ukrainian General Newswire,2019-11-29,One Ukrainian soldier killed in Donbas amid 4 ...
1166,Interfax: Ukrainian General Newswire,2019-12-10,Three servicemen killed by unknown explosive d...

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

a = 'This was a good movie.'
sid.polarity_scores(a)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.508, 'pos': 0.492}

In [ ]:
a = 'This was the best, most awesome movie EVER MADE!!!'
sid.polarity_scores(a)

{'compound': 0.8877, 'neg': 0.0, 'neu': 0.425, 'pos': 0.575}

In [ ]:
sent = []
for i in data['headline']:
    sent.append(sid.polarity_scores(i)['compound'])
data['Compound'] = sent
data.head()

,source,date,headline,Compound
0,Agence France Presse,2014-01-22,Police disperse Kiev protest,-0.2500
1,Reuters News,2014-01-27,Dead man found hanging on Kiev's Independence ...,-0.6486
2,Reuters News,2014-02-18,UKRAINE PARLIAMENTARY DEPUTY SAYS ON FACEBOOK ...,-0.8256
3,Reuters News,2014-02-22,WRAPUP 9-Ukraine parliament removes Yanukovich,0.0000
4,Agence France Presse,2014-02-20,Ukraine death toll rises to 28: ministry,-0.5994

In [ ]:
sent = []
for i in data['Compound']:
    sent.append('POSITIVE' if i >=0 else 'NEGATIVE')
data['Sentiment'] = sent
data.head()

,source,date,headline,Compound,Sentiment
0,Agence France Presse,2014-01-22,Police disperse Kiev protest,-0.2500,NEGATIVE
1,Reuters News,2014-01-27,Dead man found hanging on Kiev's Independence ...,-0.6486,NEGATIVE
2,Reuters News,2014-02-18,UKRAINE PARLIAMENTARY DEPUTY SAYS ON FACEBOOK ...,-0.8256,NEGATIVE
3,Reuters News,2014-02-22,WRAPUP 9-Ukraine parliament removes Yanukovich,0.0000,POSITIVE
4,Agence France Presse,2014-02-20,Ukraine death toll rises to 28: ministry,-0.5994,NEGATIVE